<li style="width: 250px; height: 60px;" >
    <% if(locals.user.id==song.user){ %>
        <div class="favsongs">
            <div class="baricon "></div>
            <div id="<%= song.id %>" class="songimage " ><a onclick="<%= song.onclic %>"  class="play" ></a><audio class="queue_songs" src="<%= song.source %>"></audio></a></div>
            <div  class="songtexts " ><b><%= song.name %></b></div>
        </div>
        
    
      
    
    <% } %>
    
</li>
