
<footer class="footer border">
    <div class="border center" id="song_image">
        <div class="border" id="b"></div>
    </div>
    <div class="border center" id="music_logo">
        <div class="border"></div>
        <p>love me Again</p>
    </div>
    <div class="border center " id="song">
        <div class="border" id="backward" ></div>
        <audio id="playing_song" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/03+John+Newman+-+Love+Me+Again.mp3" controls></audio>
        <div class="border" id="forward" ></div>
    </div>
   

</footer>