<div id="edsheeranplaylist" class="border ArtistText">
    <div id="artistpf" class="border">
        <div id="edsheeran" class="artistimage"></div>
        <div id="artistportfolio" class="border">
            <div class="artistinfo border" >
                <b>Edsheeran</b><br>
                Edward Christopher Sheeran, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
            </div>
            <div class="artistinfo border">
                <div id="playall" onclick="changeArtist('A')" >Play all</div>
                <div id="follow" >Follow</div>
                <a  href="#artist_genre_trending" style="color: white">X(close)</a>
            </div>
        </div>
    </div>
    
    <div id="artistplaylist" class="border">
        <h3>artistplaylist</h3>
        <div  class="artistSong A " >
            <div class="baricon "></div>
            <div id="song20" class="songimage " ><a onclick="lighters('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
            <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong A" >
            <div class="baricon "></div>
            <div id="song21" class="songimage " ><a onclick="whatilove('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
            <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong A" >
            <div class="baricon "></div>
            <div id="song22" class="songimage " ><a onclick="pompeii('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong A" >
            <div class="baricon "></div>
            <div id="song23" class="songimage " ><a onclick="radioactive('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
            <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong A" >
            <div class="baricon "></div>
            <div id="song24" class="songimage " ><a onclick="ringaling('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
            <div  class="hearts "></div>
        </div>	
    </div>
    
</div>

<!-- artists playlist -->
<div id="justinplaylist" class="border ArtistText">
    <div id="artistpf" class="border">
        <div id="justin" class="artistimage"></div>
        <div id="artistportfolio" class="border">
            <div class="artistinfo border" >
                <b>Justin</b><br>
                Justin Bieber, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
            </div>
            <div class="artistinfo border">
                <div id="playall" onclick="changeArtist('B')" >Play all</div>
                <div id="follow" >Follow</div>
                <a href="#artist_genre_trending" style="color: white">X(close)</a>
            </div>
        </div>
    </div>
    
    <div id="artistplaylist" class="border">
        <h3>artistplaylist</h3>
        <div  class="artistSong B " >
            <div class="baricon "></div>
            <div id="song20" class="songimage " ><a onclick="lighters('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
            <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong B" >
            <div class="baricon "></div>
            <div id="song21" class="songimage " ><a onclick="whatilove('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
            <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong B" >
            <div class="baricon "></div>
            <div id="song22" class="songimage " ><a onclick="pompeii('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong B" >
            <div class="baricon "></div>
            <div id="song23" class="songimage " ><a onclick="radioactive('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
            <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong B" >
            <div class="baricon "></div>
            <div id="song24" class="songimage " ><a onclick="ringaling('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
            <div  class="hearts "></div>
        </div>	
    </div>
    
</div>


<!-- artists playlist -->
<div id="rihanaplaylist" class="border ArtistText">
    <div id="artistpf" class="border">
        <div id="rihana" class="artistimage"></div>
        <div id="artistportfolio" class="border">
            <div class="artistinfo border" >
                <b>Rihana</b><br>
                rihana MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
            </div>
            <div class="artistinfo border">
                <div id="playall" onclick="changeArtist('C')" >Play all</div>
                <div id="follow" >Follow</div>
                <a href="#artist_genre_trending" style="color: white">X(close)</a>
            </div>
        </div>
    </div>
    
    <div id="artistplaylist" class="border">
        <h3>artistplaylist</h3>
        <div  class="artistSong C " >
            <div class="baricon "></div>
            <div id="song20" class="songimage " ><a onclick="lighters('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
            <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong C" >
            <div class="baricon "></div>
            <div id="song21" class="songimage " ><a onclick="whatilove('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
            <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong C" >
            <div class="baricon "></div>
            <div id="song22" class="songimage " ><a onclick="pompeii('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong C" >
            <div class="baricon "></div>
            <div id="song23" class="songimage " ><a onclick="radioactive('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
            <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong C" >
            <div class="baricon "></div>
            <div id="song24" class="songimage " ><a onclick="ringaling('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
            <div  class="hearts "></div>
        </div>	
    </div>
    
</div>

<!-- artists playlist -->
<div id="maroonplaylist" class="border ArtistText">
    <div id="artistpf" class="border">
        <div id="maroon" class="artistimage"></div>
        <div id="artistportfolio" class="border">
            <div class="artistinfo border" >
                <b>maroon Band</b><br>
                Maroon band MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
            </div>
            <div class="artistinfo border">
                <div id="playall" onclick="changeArtist('D')" >Play all</div>
                <div id="follow" >Follow</div>
                <a href="#artist_genre_trending" style="color: white">X(close)</a>
            </div>
        </div>
    </div>
    
    <div id="artistplaylist" class="border">
        <h3>artistplaylist</h3>
        <div  class="artistSong D " >
            <div class="baricon "></div>
            <div id="song20" class="songimage " ><a onclick="lighters('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
            <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong D" >
            <div class="baricon "></div>
            <div id="song21" class="songimage " ><a onclick="whatilove('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
            <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong D" >
            <div class="baricon "></div>
            <div id="song22" class="songimage " ><a onclick="pompeii('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong D" >
            <div class="baricon "></div>
            <div id="song23" class="songimage " ><a onclick="radioactive('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
            <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong D" >
            <div class="baricon "></div>
            <div id="song24" class="songimage " ><a onclick="ringaling('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
            <div  class="hearts "></div>
        </div>	
    </div>
    
</div>

<!-- artists playlist -->
<div id="taylorplaylist" class="border ArtistText">
    <div id="artistpf" class="border">
        <div id="taylor" class="artistimage"></div>
        <div id="artistportfolio" class="border">
            <div class="artistinfo border" >
                <b>taylor swift</b><br>
                taylor Swift, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
            </div>
            <div class="artistinfo border">
                <div id="playall" onclick="changeArtist('E')" >Play all</div>
                <div id="follow" >Follow</div>
                <a href="#artist_genre_trending" style="color: white">X(close)</a>
            </div>
        </div>
    </div>
    
    <div id="artistplaylist" class="border">
        <h3>artistplaylist</h3>
        <div  class="artistSong E " >
            <div class="baricon "></div>
            <div id="song20" class="songimage " ><a onclick="lighters('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
            <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong E" >
            <div class="baricon "></div>
            <div id="song21" class="songimage " ><a onclick="whatilove('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
            <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong E" >
            <div class="baricon "></div>
            <div id="song22" class="songimage " ><a onclick="pompeii('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong E" >
            <div class="baricon "></div>
            <div id="song23" class="songimage " ><a onclick="radioactive('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
            <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong E" >
            <div class="baricon "></div>
            <div id="song24" class="songimage " ><a onclick="ringaling('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
            <div  class="hearts "></div>
        </div>	
    </div>
    
</div>

<!-- artists playlist -->
<div id="brunoplaylist" class="border ArtistText">
    <div id="artistpf" class="border">
        <div id="bruno" class="artistimage"></div>
        <div id="artistportfolio" class="border">
            <div class="artistinfo border" >
                <b>Bruno</b><br>
                Bruno, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
            </div>
            <div class="artistinfo border">
                <div id="playall" onclick="changeArtist('F')" >Play all</div>
                <div id="follow" >Follow</div>
                <a href="#artist_genre_trending" style="color: white">X(close)</a>
            </div>
        </div>
    </div>
    
    <div id="artistplaylist" class="border">
        <h3>artistplaylist</h3>
        <div  class="artistSong F " >
            <div class="baricon "></div>
            <div id="song20" class="songimage " ><a onclick="lighters('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
            <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong F" >
            <div class="baricon "></div>
            <div id="song21" class="songimage " ><a onclick="whatilove('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
            <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong F" >
            <div class="baricon "></div>
            <div id="song22" class="songimage " ><a onclick="pompeii('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong F" >
            <div class="baricon "></div>
            <div id="song23" class="songimage " ><a onclick="radioactive('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
            <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
            <div  class="hearts "></div>
        </div>
        <div  class="artistSong F" >
            <div class="baricon "></div>
            <div id="song24" class="songimage " ><a onclick="ringaling('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
            <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
            <div  class="hearts "></div>
        </div>	
    </div>
    
</div>