<div id="albumlist">
        <h1>relax</h1><div id="playall" onclick="changeArtist('rel')">Play all</div><a href="#artist_genre_trending" style="color: white">X(close)</a>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song25" class="songimage " ><a onclick="lighters('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/albums/how+i+am+feelin/Charli+XCX+-+claws+%5BOfficial+Video%5D.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>claws</b><br>charli xcx</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song26" class="songimage " ><a onclick="whatilove('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/albums/how+i+am+feelin/Charli+XCX+-+how+im+feeling+now+making+the+album%2C+week+2.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>making</b><br>chari xcx</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song27" class="songimage " ><a onclick="pompeii('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/albums/how+i+am+feelin/Charli+XCX+-+pink+diamond+%5BOfficial+Audio%5D.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>making diamond</b><br>charli xcx</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song28" class="songimage " ><a onclick="radioactive('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>charli xcx</div>
                    <div  class="hearts "></div>
                </div>
    </div>