<div id="partyplaylist">
    <h1>Party</h1><div id="playall" onclick="changeArtist('party')" >Play all</div><span><a href="#genre" style="color: white">X(close)</a></span>
            <div  class="genreSong party" >
                <div class="baricon "></div>
                <div id="song20" class="songimage " ><a onclick="lighters('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong party" >
                <div class="baricon "></div>
                <div id="song21" class="songimage " ><a onclick="whatilove('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong party" >
                <div class="baricon "></div>
                <div id="song22" class="songimage " ><a onclick="pompeii('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong party" >
                <div class="baricon "></div>
                <div id="song23" class="songimage " ><a onclick="radioactive('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong party" >
                <div class="baricon "></div>
                <div id="song24" class="songimage " ><a onclick="ringaling('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                <div  class="hearts "></div>
            </div>
    
</div>

<div id="roadtripplaylist">
    <h1>Roadtrip</h1><div id="playall" onclick="changeArtist('Roadtrip')" >Play all</div><a href="#genre" style="color: white">X(close)</a>
            <div  class="genreSong Roadtrip" >
                <div class="baricon "></div>
                <div id="song20" class="songimage " ><a onclick="lighters('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong Roadtrip" >
                <div class="baricon "></div>
                <div id="song21" class="songimage " ><a onclick="whatilove('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong Roadtrip" >
                <div class="baricon "></div>
                <div id="song22" class="songimage " ><a onclick="pompeii('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong Roadtrip" >
                <div class="baricon "></div>
                <div id="song23" class="songimage " ><a onclick="radioactive('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong Roadtrip" >
                <div class="baricon "></div>
                <div id="song24" class="songimage " ><a onclick="ringaling('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                <div  class="hearts "></div>
            </div>
    
</div>

<div id="electronicplaylist">
    <h1>Electronic</h1><div id="playall" onclick="changeArtist('electronic')" >Play all</div><a href="#genre" style="color: white">X(close)</a>
            <div  class="genreSong electronic" >
                <div class="baricon "></div>
                <div id="song20" class="songimage " ><a onclick="lighters('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong electronic" >
                <div class="baricon "></div>
                <div id="song21" class="songimage " ><a onclick="whatilove('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong electronic" >
                <div class="baricon "></div>
                <div id="song22" class="songimage " ><a onclick="pompeii('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong electronic" >
                <div class="baricon "></div>
                <div id="song23" class="songimage " ><a onclick="radioactive('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong electronic" >
                <div class="baricon "></div>
                <div id="song24" class="songimage " ><a onclick="ringaling('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                <div  class="hearts "></div>
            </div>
    
</div>
<div id="relaxplaylist">
    <h1>relax</h1><div id="playall" onclick="changeArtist('relax')">Play all</div><a href="#genre" style="color: white">X(close)</a>
            <div  class="genreSong relax" >
                <div class="baricon "></div>
                <div id="song20" class="songimage " ><a onclick="lighters('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong relax" >
                <div class="baricon "></div>
                <div id="song21" class="songimage " ><a onclick="whatilove('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong relax" >
                <div class="baricon "></div>
                <div id="song22" class="songimage " ><a onclick="pompeii('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong relax" >
                <div class="baricon "></div>
                <div id="song23" class="songimage " ><a onclick="radioactive('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                <div  class="hearts "></div>
            </div>
            <div  class="genreSong relax" >
                <div class="baricon "></div>
                <div id="song24" class="songimage " ><a onclick="ringaling('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                <div  class="hearts "></div>
            </div>
    
</div>