<div class="albums">
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
    <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
            
</div>