
<header>
    <div class="header border">
        <div id="player_logo" class="border center">
            <div class="border"></div>
        </div>
        <div id="user_name" class="border">
            <h2><%=  user.name %></h2>
            <a class="textss" href="#favor">favorites</a>
            <a class="textss" href="#musicplaylist">playlist</a>
            <a class="textss" href="#queues">queue</a>
        </div>
        <div id="sign_out" class="border center">
            <a class="textss" href="/sign-out" class="border" >signout</a>
        </div>
        
    </div>

</header>