
<div id="user_signup">
    
    <div id="user_details">
        <form id="user_details" action="/create" method="POST">
            <div>
                <input class="box_size" type="name" name="name" placeholder="enter your name" required >
            </div>
            <div>
                <input class="box_size" type="email" name="email" placeholder="enter your email" required >
            </div>
            <div>
                <input class="box_size" type="password" name="password" placeholder="password" required>
            </div>
            <div>
                <input class="box_size" type="password" name="confirm_password" placeholder="enter password agin" required>
            </div>
            <div>
                <button id="sign_up_button" type="submit" value="sign_up">sign up</button>
            </div>
            
        </form>
        <div >
            <button><a href="/auth/google">sign up/sign-in</a></button>
        </div>

    </div>
    
    
</div>