.resetpassword {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-image: url(images/music1.jpg);
}

.resetpassword div {
  height: 340;
  width: 300px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 15px;
}

form input {
  height: 50px;
  width: 250px;
  margin: 15px;
  border-radius: 20px;
}
