.box_size{
    height: 50px;
    width: 90%;
    border-radius: 10px;
}



#user_details{
    width: 100%;
    height: 250px;
}
#user_details div{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

