.verifyemail {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/music2.jpg);
  background-size: 100% 100%;
}

.verifyemail div {
  height: 200px;
  width: 300px;
  border: 2px solid black;
  display: contents;
}

form input {
  height: 50px;
  width: 250px;
}
